<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.tunie.sf.module.story.domain.dao.StoryRecordDao">
    <select id="selectStoryRecordList" resultType="net.tunie.sf.module.story.domain.vo.StoryRecordVo">
        select S.id as story_id, S.title, S.content, S.cost_amount, S.cost_type, SR.id, SR.status, SR.pass_count, SR.level_id
        from t_story S
        left join t_story_record SR on S.id = SR.story_id and SR.user_id = #{userId}
        <where>
            and S.user_id = #{parentId}
            and S.status = #{query.storyStatus}
            <if test="query.recordStatus != null">
                and SR.status = #{query.recordStatus}
            </if>
        </where>

    </select>

    <select id="selectStoryRecord" resultType="net.tunie.sf.module.story.domain.vo.StoryRecordVo">
        select S.id as story_id, S.title, S.content, S.cost_amount, S.cost_type, SR.id, coalesce(SR.status, 0) as status, SR.pass_count, SR.level_id, SR.level_index
        from t_story S
        left join t_story_record SR on S.id = SR.story_id and SR.user_id = #{userId}
        where S.id = #{storyId}
    </select>
</mapper>